receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
  memory_limiter:
    check_interval: 1s
    limit_mib: 512
    spike_limit_mib: 128
  attributes:
    actions:
      - key: environment
        value: ${OTEL_ENVIRONMENT}
        action: upsert

exporters:
  logging:
    verbosity: detailed
  otlphttp/worker:
    endpoint: http://otel-worker:4320/v1/traces
    encoding: json

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [memory_limiter, batch, attributes]
      exporters: [logging, otlphttp/worker]
