name: UI CI

on:
  push:
    branches: [main, master]
    paths:
      - "ui/**"
  pull_request:
    paths:
      - "ui/**"

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./ui

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: ui/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Type Drift Check
        run: npm run gen:types:check

      - name: Type Check
        run: npm run type-check

      - name: Build
        run: npm run build
